*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_8/graph.bin
/app/build/intermediates/desugar_graph/debug/out/currentProject/dirs_bucket_9/graph.bin
/app/build/tmp/
/app/build/intermediates/project_dex_archive/debug/

